<div class="max-w-7xl mx-auto py-8">
  <div class="" *ngFor="let product of products">
    <div class="card" *ngIf="product.id == productId">
      <p-splitter [panelSizes]="[40, 60]" styleClass="mb-5">
        <ng-template pTemplate>
          <div class="card">
            <!-- <p-galleria
              [(value)]="images"
              [responsiveOptions]="responsiveOptions"
              [containerStyle]="{ 'max-width': '640px' }"
              [numVisible]="5"
            >
              <ng-template pTemplate="item" let-item>
                <img [src]="item.itemImageSrc" style="width: 100%" />
              </ng-template>
              <ng-template pTemplate="thumbnail" let-item>
                <div class="grid grid-nogutter justify-content-center">
                  <img [src]="item.thumbnailImageSrc" />
                </div>
              </ng-template>
            </p-galleria> -->
          </div>
        </ng-template>
        <ng-template pTemplate>
          <div class="col flex align-items-center justify-content-center">
            Panel 2
          </div>
        </ng-template>
      </p-splitter>
    </div>
  </div>
</div>
