<section class="section">
  <div class="top-footer w-full py-8 bg-white border-[1px]">
    <div class="max-w-7xl grid grid-cols-4 mx-auto gap-x-12">
      <div class="footer-top-ele">
        <p class="font-semibold">Đổi hàng 30 ngày</p>
        <p>Thời gian đổi sản phẩm lên đến 30 ngày</p>
      </div>
      <div class="footer-top-ele">
        <p class="font-semibold">Bảo hành 90 ngày</p>
        <p>Hỗ trợ bảo hành miễn phí lên đến 90 ngày</p>
      </div>
      <div class="footer-top-ele">
        <p class="font-semibold">5 ngày hoàn tiền</p>
        <p>Thời gian hoàn tiền không lý do lên đến 5 ngày</p>
      </div>
      <div class="footer-top-ele">
        <p class="font-semibold">Ưu đãi lên đến 15%</p>
        <p>Ưu đãi cho Vip Member lên đến 15%</p>
      </div>
    </div>
  </div>
  <div class="bottom-footer mt-8">
    <div class="max-w-7xl mx-auto grid grid-cols-3 gap-8">
      <div class="p-4 flex flex-col justify-between text-sm font-semibold">
        <div>
          <img class="h-14" src="assets/logo.png" alt="" />
        </div>
        <div class="text-xs">
          <p class="mt-4">
            CÔNG TY TNHH SẢN XUẤT THƯƠNG MẠI &amp; DỊCH VỤ TOTO GROUP
          </p>
          <p class="my-2">
            Giấy CNĐKDN: 0316810152 – Ngày cấp: 19/04/2021 - Nơi cấp: Sở Kế
            Hoạch và Đầu Tư TPHCM
          </p>
          <p class="">
            Địa chỉ : 304-306 Nguyễn Trãi , Phường 08, Quận 05, Thành phố Hồ Chí
            Minh - Điện thoại: 028. 2220. 7878
          </p>
          <p class="my-2">Email: cskh@totoday.vn</p>
        </div>
        <div class="flex gap-4 my-4">
          <i class="pi pi-facebook" style="font-size: 1.8rem"></i>
          <i class="pi pi-instagram" style="font-size: 1.8rem"></i>
          <i class="pi pi-youtube" style="font-size: 1.8rem"></i>
        </div>
      </div>
      <div class="p-4 col-span-2 grid grid-cols-4">
        <div class="px-2">
          <p class="font-semibold text-lg">Thông tin</p>
          <ul class="text-sm">
            <li>Giới thiệu</li>
            <li>Liên hệ công ty</li>
            <li>Liên hệ hợp tác</li>
            <li>Gia nhập TOTODAY</li>
            <li>Hệ thống cửa hàng</li>
          </ul>
        </div>
        <div class="px-2">
          <p class="font-semibold text-lg">Chính sách</p>
          <ul class="text-sm">
            <li>Chính sách thành viên</li>
            <li>Chính sách hoàn tiền</li>
            <li>Chính sách sản phẩm</li>
            <li>Chính sách bảo mật</li>
            <li>Chính sách kiểm hàng</li>
            <li>Chính sách đổi hàng - bảo hành</li>
          </ul>
        </div>
        <div class="px-2">
          <p class="font-semibold text-lg">Hỏi đáp</p>
          <ul class="text-sm">
            <li>Thanh toán và vận chuyển</li>
            <li>Hướng dẫn chọn size</li>
            <li>Kiểm tra thông tin đơn hàng</li>
          </ul>
        </div>
        <div class="px-2">
          <p>Mua hàng trực tuyến</p>
          <ul class="text-sm font-semibold">
            <li>1900.633.501 (T2-T6 8h30 - 17h30)</li>
            <li>0938.803.633 (24/7)</li>
            <li>sales.online@totoday.vn</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
