<header>
  <p-menubar
    [model]="items"
    [styleClass]="'menu-bar'"
    class="sticky top-0 z-10"
  >
    <ng-template pTemplate="start">
      <a routerLink="/"
        ><img src="assets/logo.png" width="80" class="mr-2"
      /></a>
    </ng-template>
    <div class="flex items-center justify-evenly min-w-[400px]">
      <span class="p-input-icon-left">
        <input type="text" pInputText />
        <i class="pi pi-search"></i>
      </span>
      <div>
        <div class="card">
          <div class="flex justify-content-center cursor-pointer">
            <i
              class="pi pi-shopping-cart"
              pBadge
              value="{{ totalItems }}"
              (click)="showDialog()"
              style="font-size: 1.5rem"
              severity="danger"
            ></i>
          </div>
          <p-dialog
            header="Giỏ hàng"
            [resizable]="false"
            [modal]="true"
            [maximizable]="true"
            appendTo="body"
            [(visible)]="dialogVisible"
            [style]="{ width: '75vw' }"
            [contentStyle]="{ height: '400px' }"
          >
            <p-table
              [value]="customers"
              [scrollable]="true"
              scrollHeight="flex"
              [tableStyle]="{ 'min-width': '50rem' }"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th>Name</th>
                  <th>Image</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-customer>
                <tr>
                  <td class="font-semibold">{{ customer.name }}</td>
                  <td>
                    <img
                      [src]="customer.images[0].base_url"
                      alt="image"
                      class="w-16 h-16"
                    />
                  </td>
                  <td>{{ customer.quantity }}</td>
                  <td>{{ customer.price }}đ</td>
                  <td>
                    <p-button
                      icon="pi pi-times"
                      (onClick)="removeProduct(customer._id)"
                      styleClass="p-button-rounded p-button-danger"
                    ></p-button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <ng-template pTemplate="footer">
              <div class="flex justify-between items-center py-4">
                <div class="font-semibold">
                  <span class="text-lg">Tổng cộng: </span>
                  <span class="text-xl text-red-400">{{ totalAmount }}đ</span>
                </div>
                <p-button
                  label="Đặt hàng"
                  styleClass="p-button-raised p-button-success"
                ></p-button>
              </div>
            </ng-template>
          </p-dialog>
        </div>
      </div>
      <a routerLink="/login"
        ><i class="pi pi-user" style="font-size: 1.5rem"></i
      ></a>
    </div>
  </p-menubar>
</header>
