<div class="max-w-7xl mx-auto">
  <app-slider class=""></app-slider>
  <!-- recomment product category -->
  <section class="">
    <app-reProCate></app-reProCate>
  </section>
  <!-- end recomment product category -->
  <!-- sản phẩm nổi bật -->
  <section class="popular-product section">
    <h1 class="text-3xl font-semibold my-6">Sản phẩm nổi bật</h1>
    <div class="wrapper">
      <app-product-list />
    </div>
  </section>
  <!-- end sản phẩm nổi bật -->
  <!-- banner -->
  <section class="">
    <app-banner></app-banner>
  </section>
  <!-- end banner -->
  <!-- Tin tức nổi bật -->
  <section class="feature-news section">
    <h1 class="text-3xl font-semibold">Tin Tức nổi bật</h1>
    <div class="wrapper mt-8">
      <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
        <p-card
          *ngFor="let post of posts"
          class="transform hover:-translate-y-1 transition duration-500"
        >
          <div class="grid grid-cols-3 gap-3">
            <div>
              <img src="{{ post.imgUrl }}" alt="" />
            </div>
            <div class="col-span-2 flex flex-col justify-between">
              <span class="text-[#00b154] font-semibold">Tin khuyến mãi</span>
              <a routerLink="post" class="font-bold hover:text-[#33c077]">{{
                post.title
              }}</a>
              <a routerLink="post">
                <div class="flex items-center justify-end">
                  <p class="mr-3">Đọc thêm</p>
                  <i class="pi pi-arrow-right"></i>
                </div>
              </a>
            </div>
          </div>
        </p-card>
      </div>
    </div>
  </section>
  <!-- end Tin tức nổi bật -->
</div>
