<div class="max-w-7xl mx-auto py-8">
  <div class="">
    <app-slider></app-slider>
  </div>
  <div class="grid grid-cols-2 py-3">
    <div class="flex justify-around">
      <div class="">
        <a href="#">
          <p-button
            label="Áo khoác nam"
            styleClass="p-button-raised p-button-text p-button-secondary"
          ></p-button>
        </a>
      </div>
      <div class="#">
        <a href="">
          <p-button
            label="Áo khoác nữ"
            styleClass="p-button-raised p-button-text p-button-secondary"
          ></p-button>
        </a>
      </div>
      <div class="#">
        <a href="">
          <p-button
            label="Áo khoác unisex"
            styleClass="p-button-raised p-button-text p-button-secondary"
          ></p-button>
        </a>
      </div>
    </div>
    <div class="flex justify-end gap-x-8 items-center">
      <div class="">ajfl;ajf</div>
      <div class="">afafa</div>
    </div>
  </div>
  <div class="grid gap-4 grid-cols-4" *ngIf="products && products.length">
    <div
      class="card flex justify-content-center"
      *ngFor="let product of products; index as i"
    >
      <p-card>
        <ng-template pTemplate="header">
          <a routerLink="{{ product.id }}" class="block overflow-hidden"
            ><img
              alt="Card"
              class="transform transition-all duration-500 hover:scale-105"
              src="{{ product.imgUrl }}"
          /></a>
        </ng-template>
        <p class="font-bold text-sm">{{ product.name }}</p>
        <ng-template pTemplate="footer">
          <div class="font-bold text-sm">
            <div class="flex items-center justify-between">
              <span>{{ product.price }}đ</span>

              <a routerLink="{{ product.id }}">
                <button
                  pButton
                  icon="pi pi-cart-plus"
                  label="Thêm"
                  class="addBtn p-button-outlined p-button-secondary"
                ></button>
              </a>
            </div>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
  <div class="">
    <app-banner></app-banner>
  </div>
  <!-- Carousel Item -->
  <div class="my-8">
    <div class="card">
      <p-carousel [value]="products" [numVisible]="4" [numScroll]="3">
        <ng-template let-product pTemplate="item">
          <div class="border shadow-md surface-border rounded-xl m-2 bg-white">
            <div class="">
              <img
                src="{{ product.imgUrl }}"
                [alt]="product.name"
                class="rounded-tr-md rounded-tl-md"
              />
            </div>
            <div class="">
              <div class="">
                <h3 class="ml-3 my-3 font-medium text-lg">{{ product.name }}</h3>
              </div>
              <div class="flex justify-between my-2 items-center">
                <div class="ml-3 text-lg">{{ product.price + " đ" }}</div>
                <div class="px-3">
                  <a routerLink="{{product.id}}">
                    <button class="border w-10 h-10 rounded-md shadow-md"><i class="pi pi-cart-plus"></i></button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
  <!-- End Carousel Item -->
</div>
