<div class="max-w-7xl mx-auto py-8">
  <div class="">
    <app-slider></app-slider>
  </div>
  <div class="flex justify-between py-8">
    <div>
      <span class="font-semibold text-xl">Tất cả</span>
      <span class="text-[#757575] text-sm">{{
        "/ Trang 1 - " + products.length + " sản phẩm"
      }}</span>
    </div>

    <div class="flex justify-between gap-x-8 items-center">
      <p-menu #menu [popup]="true" [model]="productItems"></p-menu>
      <p-button
        styleClass="p-button-secondary p-button-text"
        (click)="menu.toggle($event)"
        icon="pi pi-angle-down"
        label="Sắp xếp theo"
      ></p-button>
      <!-- <button
        pButton
        type="button"
        styleClass="p-button-secondary p-button-text"
        (click)="menu.toggle($event)"
        icon="pi pi-bars"
        label="Sắp xếp theo"
      ></button> -->
    </div>
  </div>
  <div class="grid gap-4 grid-cols-4" *ngIf="products && products.length">
    <div
      class="card flex justify-content-center"
      *ngFor="let product of products; index as i"
    >
      <p-card>
        <ng-template pTemplate="header">
          <a
            routerLink="/products/{{ product._id }}"
            class="block overflow-hidden"
            ><img
              alt="Card"
              class="transform transition-all duration-500 hover:scale-105"
              [src]="images[i][0]?.base_url"
          /></a>
        </ng-template>
        <a
          routerLink="/products/{{ product._id }}"
          class="font-bold text-sm hover:text-[#00b156]"
          >{{ product.name }}</a
        >
        <ng-template pTemplate="footer">
          <div class="font-bold text-sm">
            <div class="flex items-center justify-between">
              <span>{{ product.price }}đ</span>
              <button
                pButton
                icon="pi pi-cart-plus"
                label="Thêm"
                (click)="addToCart(product)"
                class="addBtn p-button-outlined p-button-secondary"
              ></button>
            </div>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
