<div class="flex items-center justify-center section">
  <div class="bg-white shadow-md rounded px-8 py-6 w-1/3">
    <h2 class="text-2xl font-bold mb-6">Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <p-messages *ngIf="showSuccessMessage" severity="success" [closable]="true">
        <p-message detail="Registration successful."></p-message>
      </p-messages>
      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="register-username"
        >
          FullName
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="register-username"
          type="text"
          placeholder="Enter a full name"
          formControlName="fullName"
        />
        <!-- Validator -->
        <div
          class=""
          *ngIf="
            registerForm.get('fullName')?.invalid &&
            registerForm.get('fullName')?.touched
          "
        >
          <div
            class="text-xs text-red-500"
            *ngIf="registerForm.get('fullName')?.errors?.['required']"
          >
            Trường username là bắt buộc
          </div>
        </div>
        <!-- End Validator -->
      </div>
      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="register-email"
        >
          Email
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="register-email"
          type="email"
          placeholder="Enter your email"
          formControlName="email"
        />
        <!-- Validator -->
        <div
          class=""
          *ngIf="
            registerForm.get('email')?.invalid &&
            registerForm.get('email')?.touched
          "
        >
          <div
            class="text-xs text-red-500"
            *ngIf="registerForm.get('email')?.errors?.['required']"
          >
            Trường email là bắt buộc
          </div>

          <div
            class="text-xs text-red-500 py-2"
            *ngIf="registerForm.get('email')?.errors?.['email']"
          >
            Email không đúng định dạng
          </div>
        </div>
        <!-- End Validator -->
      </div>
      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="register-phone"
        >
          Phone Number
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="register-phone"
          type="tel"
          placeholder="Enter your phone number"
          pattern="[0-9]{10}"
          required
          formControlName="phoneNumber"
        />
        <!-- Validator -->
        <div
          class=""
          *ngIf="
            registerForm.get('phoneNumber')?.invalid &&
            registerForm.get('phoneNumber')?.touched
          "
        >
          <div
            class="text-xs text-red-500"
            *ngIf="registerForm.get('phoneNumber')?.errors?.['required']"
          >
            Trường phonenumber là bắt buộc
          </div>

          <div
            class="text-xs text-red-500 py-2"
            *ngIf="registerForm.get('phonenumber')?.errors?.['minLength']"
          >
            Sdt tối thiểu 10 số
          </div>
        </div>
        <!-- End Validator -->
      </div>
      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="register-password"
        >
          Password
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="register-password"
          type="password"
          placeholder="Enter a password"
          formControlName="password"
        />
        <!-- Validator -->
        <div
          class=""
          *ngIf="
            registerForm.get('password')?.invalid &&
            registerForm.get('password')?.touched
          "
        >
          <div
            class="text-xs text-red-500"
            *ngIf="registerForm.get('password')?.errors?.['required']"
          >
            Trường password là bắt buộc
          </div>

          <div
            class="text-xs text-red-500 py-2"
            *ngIf="registerForm.get('password')?.errors?.['minLength']"
          >
            Mật khẩu tối thiểu từ 8 kí tự
          </div>
        </div>
        <!-- End Validator -->
      </div>
      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="register-confirm-password"
        >
          Confirm Password
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="register-confirm-password"
          type="password"
          placeholder="Confirm your password"
          formControlName="confirmPassword"
        />
        <!-- Validator -->
        <div
          class=""
          *ngIf="
            registerForm.get('confirmPassword')?.invalid &&
            registerForm.get('confirmPassword')?.touched
          "
        >
          <div
            class="text-xs text-red-500"
            *ngIf="registerForm.get('confirmPassword')?.errors?.['required']"
          >
            Trường confirmPassword là bắt buộc
          </div>

          <div
            class="text-xs text-red-500 py-2"
            *ngIf="registerForm.get('confirmPassword')?.errors?.['passwordMismatch']"
          >
            Mật khẩu không khớp
          </div>
        </div>
        <!-- End Validator -->
      </div>
      <div class="flex items-center justify-between">
        <button
          pButton
          pRipple
          label="Register"
          class="p-button-success"
          [disabled]="registerForm.invalid"
        ></button>
        <a
          class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
          routerLink="/login"
        >
          Already have an account? Sign In
        </a>
      </div>
    </form>
  </div>
</div>
